/*=====================User Edit Form==================*/
.con {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  max-width: 60%;
}
.userDetails {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border: 1px solid #e8e8e8;
  border-radius: 6px;
}
@media only screen and (max-width: 700px) {
  .con {
    max-width: 95%;
  }
}
@media only screen and (min-width: 1400px) {
  .con {
    max-width: 50%;
  }
}
.userForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.userForm > div:nth-child(1) {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}
.userForm > div:nth-child(1) > div {
  width: auto;
}
.g2 {
  display: inline-grid !important;
  grid-template-columns: 48% 48%;
  justify-content: space-evenly;
}
.g3 > div:nth-child(3) {
  width: 50%;
  margin: auto !important;
}
.g3 > div:nth-child(3) > div > div:first-child > label {
  font-size: 15px !important;
}
.g3 > div > div > div:first-child > label {
  font-size: 17px !important;
}
.g3 > div > div > div > div > span > div {
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  box-shadow: 1px 1px #e8e8e8;
  width: 89%;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 5px !important;
}
.g3 > div > div > div > div > span > div > div > div > span > div:nth-child(1) {
  display: block !important;
}
.g3 > div > div > div > div > span > div > div > div > span > div:nth-child(2) {
  display: block !important;
}
.g3 > div > div > div > div > span > div:last-child {
  border: none !important;
  box-shadow: none !important;
}

.g3 > div > div > div > div > span > div:last-child > div > div > span {
  display: block !important;
}
.g3 > div > div > div:nth-child(2) {
  margin-left: -5.5%;
}
.g4 > div:nth-child(3) {
  width: 50%;
  margin: auto !important;
}
.g4 > div:nth-child(3) > div > div:first-child > label {
  font-size: 15px !important;
}
.g4 > div > div > div:first-child > label {
  font-size: 15px !important;
}
.g4 > div > div > div > div > span > div {
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  box-shadow: 1px 1px #e8e8e8;
  width: 100%;

  margin-bottom: 5px !important;
}
.g4 > div > div > div > div > span > div > div > div > span {
  display: flex;
}
.g4 > div > div > div > div > span > div:last-child {
  border: none !important;
  box-shadow: none !important;
}
.g4 > div > div > div > div > span > div:last-child > div > div > span {
  display: block !important;
}

.heading {
  text-align: left;
  width: 100%;
  border-bottom: 3px dotted #e8e8e8;
  padding-left: 10px;
}
.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.row2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
.row3 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
@media only screen and (max-width: 700px) {
  .row3 > div:nth-child(2) {
    width: 40%;
    padding-left: 5px;
  }
}

.about {
  width: 100%;
  text-align: left;
}
.about textarea {
  height: 100px !important;
}
.about .ant-form-item-label {
  padding-left: 5px;
}
.ant-form-item {
  text-align: left;
}
.ant-form-item-label {
  padding-left: 5px;
}
.ant-select-selection {
  width: 200px;
}
.vgap {
  margin-top: 30px;
}
.mobile {
  width: 60% !important;
}
.save {
  width: 100% !important;
}
/*===============User Edit Form Ends Here==================*/
