.facebookBtn {
  border-color: #3769ae;
  background: #3c60a2 !important;
  color: white !important;
  display: flex;
  flex: 1 1 10%;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px !important;
}

.facebookBtn:hover {
  background-color: #17427e !important;
  border-color: #17427e !important;
  color: white !important;
}

.separator {
  height: 28px;
  width: 2px;
  background-color: #fff !important;
  margin: 0 10px;
}
