@import "~antd/dist/antd.css";

/* SIGN-IN PAGES */


.signInForm {
  color: #4a4a4a;
  font-size: 11px;
  letter-spacing: 0.8px;
  padding-bottom: 10px;
}

.paddingMarginBottom {
  padding-bottom: 0;
  margin-bottom: 0;
}

.belowFormtext {
  color: #4a4a4a;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0.8px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.signinstate {
  text-align: left;
  letter-spacing: 2px;
  text-shadow: 2px 0 0;
  color: #887373;
  font-size: 35px;
}

.form-element-heading {
  text-align: left;
  letter-spacing: 2px;
  text-shadow: 1.5px 0 0;
  color: #645757;
}


.modalcard {
  padding: 0 10px 0 25px;
  border-radius: 0px !important;
  background-color: #FAFAFA !important;
}

.signInimg {
  
  height:434px;
  
}
.signUpImg{
  height:550px;
}

.SignInComp {
  width: 100%;
}

.sign-in-Form{
  padding:10px !important;
  height: 460px;
  width:520px;
}
.sign-up-form{
  
    padding:10px !important;
    height: 590px;
    width:520px;
  
}


@media only screen and (min-width: 576px) {
  .signInoOuter {
    margin-top: 10vh;
    
  }
  .signOutOuter{
    margin-top: 10vh;

  }
  .sign-in-Form{
    height:434px !important;
    padding:10px 20px 0px 20px !important;
  }
  .sign-up-form{
  
    padding:10px 20px 0px 20px !important;
    height: 550px;
    width:520px;
  
}
}


@media only screen and (min-width: 769px) {
  .signInoOuter {
    width: 850px;
    margin-top: 10vh !important;

   }
  .signOutOuter{
    width: 880px;
    margin-top: 10vh;

  }
  .sign-in-Form{
    padding:10px !important;
    height: 444px;
    width:520px;
  }
  .SignInComp {
    width: 100% !important;
  }
}





.signImg {
  width: 100%;
  height: 200px;
}

.forgotpass {
  color: #23b195 !important;
  font-size: 11px;
  letter-spacing: 0.8px;
  float: right;
  margin-bottom: 10px;
}
