@import "~antd/dist/antd.css";

/* tile uploaded pictures */
.upload-list-inline .ant-upload-list-item {
  float: left;
  width: 200px;
  margin-right: 8px;
}
.upload-list-inline .ant-upload-animate-enter {
  animation-name: uploadAnimateInlineIn;
}
.upload-list-inline .ant-upload-animate-leave {
  animation-name: uploadAnimateInlineOut;
}

// Setting Variables
@primary-color: #23b195; // primary color for all components
@secondary-color: #fff; // primary color for all components
@tertiary-color: #211f1f;
// Menu
@menu-bg: @primary-color;
@menu-item-color: #fff;
@menu-item-active-border-width: 3px;
@menu-highlight-color: @secondary-color;
@border-radius-base: 9px; // major border radius
@box-shadow-base: 0 2px 8px 4px rgba(49, 196, 167, 0.05);

// Card
@card-head-color: @heading-color;
@card-head-background: transparent;
@card-head-padding: 16px;
@card-inner-head-padding: 12px;
@card-padding-base: 24px;
@card-actions-background: @background-color-light;
@card-background: #cfd8dc;
@card-shadow: 0px 0px 2px 2px #c3c3c3;
@card-radius: 8px;

//Menu-dark
@menu-dark-color: #000;
@menu-dark-bg: #fff;
@menu-dark-arrow-color: #000;
@menu-dark-submenu-bg: #fff;
@menu-dark-highlight-color: #cdf5ed;
@menu-dark-item-active-bg: @primary-color;

//font
@font-family: Avenir Next;

//List
@list-item-padding: 0px;

//Tabs
.main-layout {
  font-family: @font-family;
}

.ant-tabs-nav .ant-tabs-tab {
  margin: 0px !important;
}
.card-custom {
  margin: 5px;
}
.ant-card-cover img {
  border-radius: 0px !important;
}

.avatar-user {
  border: 5px solid red;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.ant-menu-horizontal {
  border-bottom: none;
}

.ant-menu-horizontal > .ant-menu-item > a {
  font-size: 1.4em;
}

.ant-menu-horizontal > .ant-menu-item-selected > a {
  font-weight: bold;
  font-size: 1.4em;
}

.ant-pagination {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}

@media print {
  .no-print {
    display: none;
  }
}

.no-print {
  background: @tertiary-color;
  color: @secondary-color !important;
  padding: 2% 5%;
}

.no-print h3 {
  color: #fff !important;
}

.no-print li {
  list-style: none;
  padding: 2% 0;
}

.header {
  background: @primary-color;
}

.page-content {
  width: 100%;

  padding: 69px 5px 10px 5px;
  min-height: 100vh;
}
//Home-Page{--

.home-head-container {
  margin: -69px -5px -10px -5px;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}
.home-head {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.home-head-image {
  margin-left: -45vh;

  height: 100vh;
}
.home-image-content {
  position: absolute;
  top: 100px;
  left: 7vw;
  right: 7vw;

  width: 86vw;
}
.home-image-contentText {
  color: rgba(255, 250, 250, 0.9) !important;

  font-size: 50px;
}

.home-image-contentText2 {
  color: rgba(255, 250, 250, 0.9) !important;

  font-size: 15px;
  width: 70%;
}
.home-image-content-button-login {
  margin-top: 30px;
}

.home-image-content-question {
  color: rgba(255, 250, 250, 0.9) !important;

  font-size: 15px;
}

.home-image-divider-1 {
}
.home-image-divider-2 {
  width: 55%;
}
.home-image-divider-3 {
  width: 55%;
}
.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200%;
  height: 100px;
  background-position: 0 bottom;
  background-repeat: repeat-x;
  transform-origin: center bottom;
}
.wave1 {
  opacity: 1;
  z-index: 3;
  animation: wave 4s linear infinite;
}
.wave2 {
  opacity: 0.75;
  z-index: 2;
  animation: wave 7s linear infinite;
}
.wave3 {
  opacity: 0.5;
  z-index: 1;
  animation: wave 9s linear infinite;
}

@keyframes wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.5);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}

.home-steps-container {
  margin-top: 100px;
  height: 100vh;
  width: 100%;
}
.home-steps-step {
  height: 33vh;
}
.home-steps-head {
  font-size: 45px;
}
.home-steps-sub-head {
  font-size: 35px;
}
.home-how-it-works-container {
  height: 100vh;
  width: 100%;
  background: #ececec;
}
.home-featured-listings-container {
  height: 50vh;
  width: 100%;
  background: @primary-color;
}
.home-featured-users-container {
  height: 50vh;
  width: 100%;
  background: #ececec;
}
//--}Home-Page

@media only screen and (min-width: 768px) {
  .home-head-image {
    margin-left: -10vh;

    height: 100vh;
  }
  .home-image-contentText {
    font-size: 60px;
  }
  .home-image-contentText2 {
    font-size: 20px;
  }
  .home-image-content-question {
    font-size: 20px;
  }
  .home-content-divider-margin {
    padding: 10px 0px;
  }
}

@media only screen and (min-width: 769px) {
  .page-content {
    padding: 69px 4vw 20px 4vw;
  }
  .home-head-container {
    margin: -69px -4vw -20px -4vw;
  }
}

@media only screen and (min-width: 1024px) {
  .home-image-contentText2 {
    width: 50%;
  }
  .home-image-content-button {
    width: 180px;
  }
  .home-image-divider-2 {
    width: 35%;
  }
  .home-image-divider-3 {
    width: 35%;
  }
  .home-head-image {
    margin-left: 0vw;
    height: 100vh;
  }
}

@media only screen and (min-width: 1025px) {
  .page-content {
    padding: 69px 5vw 20px 5vw;
  }
  .home-head-image {
    width: 100vw;
  }
  .home-head-container {
    margin: -69px -5vw -20px -5vw;
  }
}

@media only screen and (min-width: 1440px) {
  .home-image-content {
    padding-left: 50px;
  }
  .home-content-divider-margin {
    padding: 20px 0px;
  }
}
@media only screen and (min-width: 1441px) {
  .page-content {
    padding: 69px 8vw 20px 8vw;
  }
  .home-head-container {
    margin: -69px -8vw -20px -8vw;
  }
}

#content {
  background: @secondary-color;
}

.ant-button.checked {
  background: #23b195 !important;
  color: #ffffff;
}

.btn {
  color: #23b195;
  border: #23b195 0.5px solid;
  width: 33%;
}

.btnActive,
.btn:hover {
  background-color: #23b195 !important;
  color: white !important;
  border: #23b195 0.5px solid !important;
  width: 33%;
}

.ActiveCond,
.NotActive:hover {
  cursor: pointer;
  background-color: rgba(35, 177, 149, 0.2) !important;
}

.NotActive {
  border: 0.5px solid rgba(35, 177, 149, 0.2);
}

.ant-upload-select-picture-card i {
  font-size: 32px;
  color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}

.ant-carousel .slick-slide {
  padding-bottom: 20px;
  padding-top: 5px;
  background: #666;
  overflow: hidden;
}
.ant-carousel {
  margin-bottom: 20px;
}

.themeColor,
.themeColor:hover {
  background: #23b195 !important;
  color: white !important;
}

.themeColorInverted {
  color: #23b195 !important;
  border: #23b195 0.5px solid !important;
}

.colorCursor {
  color: #23b195 !important;
  cursor: pointer;
}

.borderRadius9 {
  border-radius: 9px;
}

.boxShadowTheme {
  box-shadow: 0 0 8px 4px rgba(49, 196, 167, 0.05);
}

.PadB30 {
  padding-bottom: 30px;
}

.colorFloat {
  float: right;
  color: #23b195;
}

.font10 {
  font-size: 10px;
}

.font11h {
  font-size: 11.5px;
}

.font12 {
  font-size: 12px;
}

.font13 {
  font-size: 13px !important;
}

.font14 {
  font-size: 14px;
}

.font16 {
  font-size: 16px;
}

.margin20 {
  margin: 20px 0;
}

.marginB30 {
  margin-bottom: 30px;
}
.borderzero {
  border: 0 !important;
}
.borderradiuszero {
  border-radius: 0 !important;
}

.rightfloat {
  float: right;
}

.leftfloat {
  float: left;
}

.Pad20 {
  padding: 0 20px;
}

.padA20 {
  padding: 20px;
}

.pad10 {
  padding: 0 10%;
}

.PadB10 {
  padding-bottom: 10px;
}

.PadA10 {
  padding: 10px !important;
}
.PadT10 {
  padding-top: 10px;
}

.padH4p {
  padding: 0 4%;
}

.marginR10 {
  margin-right: 10px;
}

.marginT20 {
  margin-top: 20px;
}

.layoutList {
  background: #fff !important;
}

.AccountDetails {
  min-width: 100% !important;
  overflow: hidden !important;
  height: 100% !important;
  background: white !important;
  padding: 0 !important;
}
.AccountDetails .ant-menu-item {
  padding: 0 !important;
}
.AccDetItem {
  color: black !important;
  background: white !important;
  width: 100% !important;
  padding-left: 20px !important;
  margin: 0 !important;
}

.AccDetItem:hover,
.AccDetItemSelected {
  color: #23b195 !important;
}

.AccDetItemSelected {
  border-left: 2px solid #23b195 !important;
}

.width100 {
  width: 100%;
}

.width50 {
  width: 50%;
}

.mainColor {
  color: #23b195 !important;
}

.marginB25 {
  margin-bottom: 25px;
}

.marginB20 {
  margin-bottom: 20px;
}

.marginL20 {
  margin-left: 20px;
}

.marginR10 {
  margin-right: 10px;
}
.marginB10 {
  margin-bottom: 10px !important;
}
.marginT10 {
  margin-bottom: 10px !important;
}
.marginT12 {
  margin-bottom: 12px !important;
}

.marginT30 {
  margin-bottom: 30px;
}

.marginV15 {
  margin: 15px 0 !important;
}

.PadL15 {
  padding-left: 15px;
}

.lineHeight18 {
  line-height: 18px;
}
.Inline-blockDisplay {
  display: inline-block;
}

.InlineDisplay {
  display: inline;
}

.blockDisplay {
  display: block;
}

.itemLink {
  color: #000 !important;
  font-weight: 500;
}

.justifyAlign {
  text-align: justify;
}

.centerAlign {
  text-align: center;
}
