@import "~antd/dist/antd.css";

/* List your gear form */

.listSubmitButton {
  background: #23b195 !important;
  color: white !important;
  padding: 0 10%;
  float: right;
}

.listSteps {
  text-align: center;
  font-weight: 600;
  color: #777;
}

.DraftButton {
  border: 0.5px #23b195 solid !important;
  font-size: 10px;
  float: right;
  /* width: 28%; */
  color: #23b195 !important;
  /* overflow:  */
}

.uploadButton {
  font-size: 10px;
  margin-left: 20px;
  float: right;
  width: 28%;
}

.selectfit {
  color: #5d5f5f;
  font-size: 10px;
  line-height: 10px;
}

.perDayWeek {
  color: #5d5f5f;
  font-size: 12px;
  line-height: 12px;
}

.Listyourgearcards {
  padding: 20px;
}

.LYGcol1 {
  padding: 24px auto;
  background: #fff;
}

.addLocThatYouServe {
  line-height: 13px;
}

.startLoc {
  line-height: 13px;
  font-size: 13px;
}

.prodDiv {
  padding: 50px;
  height: 200px;
  text-align: center;
}

.prodDiv div {
  font-size: 50px;
}

.prodCond {
  font-size: 12px;
  padding: 10%;
}

.prodCond ul {
  padding-left: 22px;
}

/*  Listing Catalogue */

.RowDiv {
  padding: 5px 10%;
  overflow: hidden;
}

.mapView {
  margin: 0 10px 15px 10px;
}

.CatalogueHr {
  border: 0.5px solid #ddd;
  margin-bottom: 15px;
}

.headingTop {
  font-weight: bold;
  margin: 15px 0;
}

/* RelatedCard */

.relatedCard {
  /* height: 300px !important; */

  border: 0px !important;
  /* width: auto !important; */
  margin-top: 20px;
  overflow: hidden;
}

.relatedCardImg {
  /* height: 150px !important; */
  /* width: 100% !important; */
  overflow: hidden;
}

.RelCardMeta {
  margin-top: 20px !important;
  padding: 0 !important;
}

.CatalogUserName {
  font-size: 13px;
  line-height: 14px;
  margin: 0;
}
.UserCardUserName {
  margin: 0;
}

.CardRate {
  color: #23b195 !important;
  font-size: 11px !important;
}

.RelIconGroup {
  position: absolute;
  right: 5px;
  bottom: 40px;
  float: right;
  color: #23b195;
  font-size: 12px;
}

.filterButtons {
  float: left;
  width: 100% !important;
  margin-right: 3px !important;
  overflow: hidden !important;
}

/* MyListingDetailView */

.SliderStart {
  background: #fff !important;
  padding: 40px 0;
}

.DetailsCardCol {
  overflow: hidden !important;
  border-radius: 8px 0px 0px 0px !important;

  object-fit: cover;
  height: 250px;
}

.DetailsCard {
  margin: 0px 0px 15px 0px !important;
  border-radius: 8px 0px !important;
  min-width: 100%;
}

.DetailsCardHeading {
  height: 50px;
}

.DetailsWidth {
  height: 160px;
  width: 100%;
  padding-right: 20px;
}

.DetailsCardImg {
  height: 100%;
}

.OnRentTag {
  color: white;
  padding: 1px 5px;
  float: right;
  margin-right: 12px;
  background: #e3c41c;
  width: 50px;
  text-align: center;
}

.OnShelfTag {
  color: white;
  padding: 1px 5px;
  float: right;
  margin-right: 12px;
  background: #e3951c;
}

.StarRate {
  background: #23b195;
  color: white;
  padding: 0px 6px 1px 7px;
}

.MyListings {
  padding-left: 5%;
}

/* Product Calender */

.CalendarBox {
  padding-right: 15px !important;
  border-right: 1px #eee solid;
}

.Bookings {
  font-weight: 600;
  padding-bottom: 0;
}

.BookingsCard {
  border: 0 !important;
  padding: 2px !important;
}

.BookDate {
  line-height: 11px;
  font-size: 10px;
}

.RateBook {
  padding-bottom: 5px;
  border-bottom: 1px #eee solid;
  margin-bottom: 15px;
}

.RateBook h5 {
  margin: 10px 3px;
}

.RateBookIcon {
  background: #23b195;
  color: white;
  padding: 0px 6px 1px 7px;
}

.CancelBook {
  color: #23b195;
  padding: 0 14px;
}

/* Reviews Card */

.RevCard {
  text-align: justify;
  margin: 20px 0;
  box-shadow: 0 0 8px 4px rgba(49, 196, 167, 0.04);
}

.RevStar {
  color: #23b195 !important;
  font-size: 10px !important;
  margin: 0 4px !important;
}

.DateandDes {
  line-height: 18px;
  color: #4a4a4a;
  font-size: 14px;
}

.reviewVal {
  display: inline;
  margin-right: 5px;
}

.MyListHead {
  font-size: 23px;
  font-weight: bold;
}

.myListContent {
  padding: 0 30px;
  min-height: 280;
  min-width: 100%;
}

/* Listing Detail View */

.caroIcon {
  font-size: 40px !important;
  text-align: center !important;
  color: #fff !important;
  position: absolute !important;
  z-index: 100 !important;
  top: 160px !important;
  padding: 0 !important;
  border-radius: 100% !important;
  text-shadow: #000 10px;
}

.caroIconleft {
  left: 5px !important;
}
.caroIconright {
  right: 5px !important;
}

.CaraImg {
  height: 433px !important;

  z-index: 50 !important;
}

.fontBold {
  font-weight: bold;
}

.gearCat {
  background-color: rgba(35, 177, 149, 0.2);
  font-size: 25px;
  padding: 10px 5px;
}

@media only screen and (min-width: 769px) {
  .gearCat {
    margin: 5px -4vw 5px -4vw;
    padding: 10px 4vw 10px 4vw !important;
  }
}
@media only screen and (min-width: 1025px) {
  .gearCat {
    margin: 5px -5vw 5px -5vw;
    padding: 10px 5vw 10px 5vw !important;
  }
}
@media only screen and (min-width: 1441px) {
  .gearCat {
    margin: 5px -8vw 5px -8vw;
    padding: 10px 8vw 10px 8vw !important;
  }
}

.detViewPad {
  padding: 10px 20px;
}

.userCard {
  text-align: justify;
  margin: 20px !important;
  box-shadow: 0 0 8px 4px rgba(49, 196, 167, 0.04);
  margin-right: 0 !important;
}

.contactButton {
  margin: 0 30%;
  width: 40%;
}

.FollowButtom {
  float: right;
  width: 80px !important;
}

.sellerName {
  font-size: 14px;
  line-height: 15px;
  margin-left: 5px;
  display: inline;
}

.PChr {
  border: solid 0.5px #979797;
}

/* Add To Cart */

.ATChr {
  border: #ddd 1px solid;
  margin: 20px 0;
}

.itemGearPC {
  background: #23b195;
  padding: 0 7px;
  margin: 3px 5px 3px 0px;
}

/* .variable-width .slick-slide p {
  background: #fff;
  height: 100px;
  color: #fff;
  margin: 5px;
  line-height: 100px;
  text-align: center;
}
.center .slick-center h3 {
  color: #fff;
  opacity: 0;
  transform: scale(1.08);
}
.center h3 {
  opacity: 0;
  transition: all 300ms ease;
}
.content {
  (100%)padding: 20px;
  margin: auto;
  width: 90%;
}
.slick-slide .image {
  padding: 10px;
}
.slick-slide img {
  border: 5px solid #fff;
  display: block;
  margin: auto;
}
.slick-slide img.slick-loading {
  border: 0;
}
.slick-slider {
  margin: 30px auto 50px;
}
.slick-dots {
  margin-left: 0;
}
.slick-thumb {
  bottom: -45px;
}
.slick-thumb li {
  width: 60px;
  height: 45px;
}
.slick-thumb li img {
  filter: grayscale(0%);
}
.slick-thumb li.slick-active img {
  filter: grayscale(0%);
}
@media (max-width: 768px) {
  h3 {
    font-size: 24px;
  }
  .center {
    margin-left: -40px;
    margin-right: -40px;
  }
  .center .slick-center h3 {
    color: #fff;
    opacity: 0;
    transform: scale(1);
  }
  .center h3 {
    opacity: 0.8;
    transform: scale(0.95);
    transition: all 300ms ease;
  }
}
.slick-vertical .slick-slide {
  height: 180px;
}
.slick-arrow {
  background-color: #23b195;
  /* color: black; */
/* }
.slick-arrow:hover {
  background-color: #23b195;
}*/
.ant-carousel .slick-slide {
  background: #fff !important;
}

/* .slick-prev {
  z-index: 100;
  left: 20px !important;
  color: red !important;
  background: red !important;
  height: 50px !important;
  width: 50px !important;
}
.slick-next {
  z-index: 100;
  right: 20px !important;
  color: red !important;
  background: #fff !important;
  height: 50px !important;
  width: 50px !important;
} */
