/*============ HEADER =========== */
.HeaderSearch {
  width: 100%;
  display: inline-block;
}

.Fill-4 {
  color: #ffffff;
}

.Rectangle-2 {
  width: 100%;
  border-radius: 4px;
  box-shadow: 2px 2px 4px 0 rgba(151, 152, 154, 0.5);
  background-color: #ffffff;
}
.HeaderLogo {
  margin: 0;
  padding-top: 5px;
}
.HeaderRight {
  float: right;
  margin: 0;
  padding-top: 5px;
}
.header{
  position: fixed;
  z-index: 1000;
  width:100%;
  background: linear-gradient(180deg, rgba(0, 255, 206, 0.07) 28.12%, rgba(0, 224, 181, 0) 100%) !important;
  color: #000 !important;
}
/*==========Overriding Ant Design CSS============*/
.ant-menu{
  background: transparent;
}
.ant-menu-horizontal>.ant-menu-item{
  border:none;
}
.ant-menu-horizontal > .ant-menu-item > a{
  color:#000 !important;
}

.ant-menu-horizontal > .ant-menu-item-selected{
  border-top:4px solid #23b195;
  
}
.ant-menu-horizontal > .ant-menu-item:hover{
  border-bottom:none;
}
.ant-menu-horizontal > .ant-menu-item:hover>a{
  color:#23b195 !important;
}
.ant-menu-horizontal > .ant-menu-item, .ant-menu-horizontal > .ant-menu-submenu{
  vertical-align: middle !important;
}
/* ========= FOOTER =========== */

.footer a {
  color: #bbb;
  margin-right: 3px;
  padding-right: 3px;
}

.footer a:hover {
  color: white;
  text-decoration: underline;
}

.footer {
  text-align: center;
}

.iconFooter {
  color: black;
  background: white;
}

.footer h3 {
  font-weight: bold;
}

.FooterLogo {
  border-top: 0.5px #aaa solid;
  background: #222;
  text-align: center;
  width: 100%;
  height: 100px;
}
/*====== For Navbar and Side Drawer ====*/
.navbar{
  width:100%;
}
.side_logo{
  padding: 0 !important;
}
.screen_width_less_than_700 i>svg{
  color:#23b195;
}
@media only screen and (max-width: 700px) {
  .screen_width_more_than_700 {
    display: none !important;
  }
}
@media only screen and (min-width: 701px) {
  .screen_width_less_than_700 {
    display: none !important;
  }
}
.ant-drawer-body .ant-avatar {
  height: 90px;
  width: 90px;
  border: 1px solid #ececed;
}
.forUser {
  height: 100% !important;
  text-align: center;
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin: 0px !important;
}
.userItems {
  display: flex;
  height: 100%;
  width: 100%;
  padding-left: 5px;
}
.userItems > li {
  padding: 0px !important;
  height: 100% !important;
  margin-top: 15px !important;
  border-bottom: 1px solid #ececed;
}
.userItems div {
  display: flex;
  flex-direction: column;
}
.userItems > li:nth-child(3) > a {
  display: flex;
  flex-direction: column;
}

.nav-link-drop {
  color: #23b195 !important;
  height: 30px;
}
.light_font {
  font-weight: lighter;
}
.bold_font {
  font-weight: bolder;
}
.left {
  margin-left: 0 !important;
  margin-right: 10px !important;
  float: left;
}
.left>a>img{
  margin-left: -30px;
}
.right {
  float: right;
}
.line_height60 {
  line-height: 60px;
}

.hamburg {
  color: #fff;
  font-size: 25px;
  float: right;
  margin-top: 20px;
  font-weight: bold;
  width: 0px;
}

.ant-drawer-wrapper-body {
  overflow-x: hidden;
}
.ant-drawer-header {
  background: #fff;
}
.ant-drawer-content {
  background: #fff;
}
.ant-drawer-title {
  color: #23b195;
}
.ant-drawer-close {
  color: #23b195;
}
.ant-drawer-body {
  padding: 5px 0 0 0;
  font-weight: bold;
}
.ant-drawer-body ul {
  background: #fff;
}

.ant-drawer-body > ul > li:nth-child(3) {
  height: 100%;
}
.ant-drawer-body > ul > li:nth-child(3) > a {
  margin-top: 10px;
  margin-bottom: 10px;
}
.ant-drawer-body > ul > li:nth-child(4) {
  margin-top: 10px;
}
.ant-drawer-body > ul > li > a {
  color: #23b195;
}
.ant-drawer-body a {
  color: #23b195;
}
.ant-menu-item-selected {
  border-left: 2px solid #23b195;
}

/*======For Loader=====*/
.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}
