.googleBtn {
  background-color: #c43832;
  border-color: #c43832;
  color: white !important;
  margin: 0px 0;
  display: flex;
  flex: 1 1 10%;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px !important;
}

.googleBtn:hover {
  background-color: #aa1c17;
  border-color: #aa1c17;
}

.separator {
  height: 28px;
  width: 1px;
  background-color: #fff !important;
  margin: 0 10px;
}
