/*For TermsOfServiceView FAQView MissionView*/

.SidebarItems menu.Item {
  background: "#fff";
}

.SidebarItemsActive menu.Item {
  background: "#fff";
}
.TermsContainer{
  border: 0.5px solid #ddd;
}
.TermsContainer>h1{
  font-weight: 700;
  font-size: 48px;
  margin-bottom:-5px
}
.TermsContainer>h2{
  font-weight: 600;
  font-size: 24px;
  padding-left:4px;
}
.TermsContainer>h3{
  font-weight: 600;
  font-size: 20px;
  padding-left:4px;
}
.TermsContainer>p{
font-size:17px;
color:#000;
padding-left:4px;

}
.TermsContainer>ul{
  font-size:17px;
  color:#000;
  
  }
.TermsContainer>ul>li{
    font-size:17px;
    color:#000;
    
    }
.TermsContainer>ol{
      font-size:17px;
      color:#000;
      
      }
.TermsContainer>ol>li{
        font-size:17px;
        color:#000;
        
        }
.TermsContainer>section>h1{
  font-weight: 700;
  font-size: 48px;
  margin-bottom:-5px

}
.TermsContainer>section>p{
  font-size:17px;
  color:#000;
  padding-left:4px;
}
.TermsContainer>section>h2{
  font-weight: 600;
  font-size: 24px;
  padding-left:4px;
}
.TermsContainer>section>h3{
  font-weight: 600;
  font-size: 20px;
  padding-left:4px;
}